header{
  max-width: 1200px;
  min-width: 370px;
  display: flex;
}

header div{
  height: 100%;
}

.naped{
  font-family: var(--lexendDeca);
  color: var(--brand);
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
}

.header-a{
  font-family: var(--Inter);
  color: var(--dark30);
  font-size: 16px;
  font-weight: 500;
  margin-left: 100px;
  text-decoration: none;
  height: 20px;
}

.btn-header{
  height: 30px;
  padding: 5px 20px 5px 20px;
  color: var(--dark40);
  border: solid 1px var(--brand);
  border-radius: 20px;
  font-family: var(--lexendDeca);
  font-size: 14px;
  font-weight: 400;
}

.btn-header:hover{
  background-color: var(--brand);
}

.header-a:hover{
  color: var(--dark40);
}

.drop{
  display: none;
}

.img-drop{
  color: var(--dark40);
  cursor: pointer;
}

@media(max-width: 1130px){
  header{
    display: block;
  }
  header div{
    margin-bottom: 20px;
  }
  .a{
    display: none;
  }
  .drop{
    display: block;
  }

  .btn-header{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    margin: auto;
  }
}