/* Globais */

*{
  margin: 0%;
  padding: 0%;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
}

.container{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.sub-container{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

/* Cabeçalho */

header{
  width: 100%;
  height: 100px;
}

.sub-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100px;
  height: 50px;
}

.sub-logo img{
  width: 100px;
  height: 50px;
}

.sub-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

/* Conteudo */


.sub-text{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
  
}

.sub-title{
  max-width: 500px;
  min-width: 300px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #F9F9F9;
  margin-bottom: 20px;
}

.title{
  max-width: 500px;
  min-width: 300px;
  font-family: Poppins;
  font-size: 68px;
  font-weight: 900;
  line-height: 74px;
  text-align: left;
  color: #F9F9F9;  
  margin-bottom: 20px;
  cursor: text;
}

.title:after{
  content: '|';
  margin-left: 10px;
  animation: digitando .75s infinite;
}


@keyframes digitando{
  0%, 100%
  {
    opacity: 1;
  }
  50%
  {
    opacity: 0;
  }
}

@keyframes digitar{
  from{
    width: 0ch;
  }
}
@keyframes piscar{
  50%{
    border-color: transparent;
  }
}

.sinopse{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #F9F9F9;
  margin-bottom: 20px;
}

.btns-text-div{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.btn{
  width: 225px;
  height: 45px;
  border: none;
  color:#F9F9F9;
  cursor: pointer;
  transform: skew(-20deg);
}

.btn p{
  transform: skew(20deg);
}

.btn-play{
  background: #658E76;
}

.btn-play p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.img-play{
  margin-right: 10px;
  
}

.btn-triler{
  border: solid 2.2px #658E76;
  background: none;
}

.sub-img{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-content: center;
}

.sub-img img{
  width: 500px;
  animation: shakeY 12s infinite;
}

/* Responsividade */

@media(max-width: 1100px) {
  body{
    height: auto;
  }
  .sub-container{
    width: 500px;
    justify-content: center;
  }

  .sub-header{
    justify-content: space-between;
  }

  header{
    width: 100%;
    height: 80px;
  }

  .sub-logo{
    width: 100px;
    height: 50px;
  }

  .sub-logo img{
    width: 100px;
    height: 50px;
  }

  .sub-icons{
    width: 150px;
    height: 50px;
  }
}

@media(max-width: 500px) {
  body{
    height: auto;
  }
  .sub-container{
    width: 380px;
    justify-content: center;
    padding: 20px;
  }

  .sub-header{
    justify-content: space-between;
  }

  header{
    width: 100%;
    height: 70px;
  }

  .sub-logo{
    width: 100px;
    height: 50px;
  }

  .sub-logo img{
    width: 100px;
    height: 50px;
  }

  .sub-icons{
    width: 120px;
    height: 50px;
  }

  .sub-img{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
  }
  
  .sub-img img{
    width: 380px;
  }

  .btn-triler{
    display: none;
  }

  .sub-text{
    width: 380px;
    padding: 10px;
  }
  
  .sub-title{
    font-family: Poppins;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .title{
    font-size: 55px;
    margin-bottom: 20px;
  }
  
  .sinopse{
    font-size: 14px;
    margin-bottom: 20px;
  }

  .btns-text-div{
    justify-content: flex-start;
  }
}